<?php

$config = [
    'merchant_id' => [
        'host'        => 'http://example.loc',
        'result_uri'  => '/result/',
        'key'         => 'abc',
        'http_auth'   => [
            'username' => 'username',
            'password' => 'password',
        ],
    ],
    'project_name' => [
        'host'        => 'http://project_name.loc/app_dev.php',
        'result_uri'  => '/payments/psb/result/',
        'key'         => 'abc',
    ],
];
